@page
@model Zadanie4.Pages.Admin.UsersModel
@{
}

<h1>List of users</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Login</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@email.com</td>
                <td>admin</td>
            </tr>
            <tr>
                <td>kasia@email.com</td>
                <td>password</td>
            </tr>
            <tr>
                <td>magda@email.com</td>
                <td>password</td>
            </tr>
        </tbody>
    </table>
</div>
